BOT_TOKEN="Your telegram bot token"
BOT_DATABASE_UPDATE_INTERVAL=60
ADMIN_IDS=11111,22222
BACKUP_CH_ID="-1009999999"

# File ids
FILE_SE_LIST="file id"
FILE_SE_CHART="file id"
FILE_IT_LIST="file id"
FILE_IT_CHART="file id"
FILE_HOME_IMAGE="file id"
FILE_CONVERT_NAME="file id"
FILE_COURSE_REQUEST="file id"
